@import "tailwindcss";

@theme {
    --color-primary: hsl(140 52% 55%);
    --color-secondary: hsl(58 96% 68%);

    --color-bg: hsl(0, 0%, 100%);

    --color-text: hsl(249, 11%, 12%);
}

@theme inline {
    --font-sans: var(--font-nunito);
    --font-heading: var(--font-oswald);
}

.dark {
    --color-bg: hsl(249, 11%, 12%);
    --color-text: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    color: var(--color-text);
    overflow-x: hidden;
    max-width: 100dvw;
}

* {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;

    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-bg);
}
